{% extends "MHStoreBundle::layout.html.twig" %}


{% block bundle_body %}

    <h3> Edit a product </h3>

    <hr>

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}

            {{ form_row(form.price) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.image) }}
                </div>
                <div class="col-md-6">
                    <img
                            src="{{ asset(product.image.uploadDir ~ '/' ~ product.image.url) }}"
                            alt="{{ product.image.alt }}"  class="img-fluid"
                    />
                </div>

            </div>

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}