{% extends "MHStoreBundle::layout.html.twig" %}


{% block body %}

    <h3> Mes achats </h3>

    <hr>

    <div class="card">
    <div class="card-body">
        <br>
        {% for product in products if products is not empty %}
            <div class="row">

                <div class="col-md-4">
                        <img
                                src="{{ asset(product.image.uploadDir ~ '/' ~ product.image.id ~ '.' ~ product.image.url) }}"
                                alt="{{ product.image.alt }}" width="100%"
                        />
                    </div>
                    <div class="col-md-5">
                        <h4 style="color: #528eff;">{{ product.name }}</h4>
                        <i>{{ product.description }}</i> <br>
                        <br>
                        <small class="text-muted">
                            Acheté le {{ product.soldDate | date("m/d/Y à H:m:s")}}
                        </small>
                    </div>

                    <div class="col-md-2">
                        Prix : {{ product.price }} €
                    </div>
                    <div class="col-md-1">
                        <a  class="btn btn-primary btn-sm" href="{{ path('mh_store_view', {'id': product.id}) }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
            </div>
            <br>
            <hr>
            <br>
        {% endfor %}
    </div>
    </div>

{% endblock %}