{% extends "MHStoreBundle::layout.html.twig" %}


{% block bundle_body %}

    <h3> Mes ventes </h3>

    <hr>

    <div class="card">
    <div class="card-body">

        {% for product in products if products is not empty %}
            <div class="row">

                <div class="col-md-4">
                    <img
                            src="{{ asset(product.image.uploadDir ~ '/' ~ product.image.id ~ '.' ~ product.image.url) }}"
                            alt="{{ product.image.alt }}" height="150px"
                    />
                </div>
                <div class="col-md-4">
                    <h4 style="color: #528eff;">{{ product.name }}</h4>
                    <i>{{ product.description }}</i> <br>
                    <br>
                    {% if product.sold %}
                        <small class="text-muted">
                            Vendu le {{ product.soldDate | date("m/d/Y à H:m:s")}}
                        </small>
                    {% else %}
                        <small class="text-muted">
                            Acheté le {{ product.setupDate | date("m/d/Y à H:m:s")}}
                        </small>
                    {% endif %}
                </div>

                <div class="col-md-2">
                        Prix : {{ product.price }} €
                </div>
                <div class="col-md-2">
                    <a  class="btn btn-primary btn-sm" href="{{ path('mh_store_view', {'id': product.id}) }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                    {% if product.sold %}
                        <button  class="btn btn-warning btn-sm">sold</button>
                    {% else %}
                        {% if product.seller.id == app.user.id %}
                            <a class="btn btn-warning" href="{{ path('mh_store_edit', {'id' : product.id}) }}">modifier</a>
                            <a  class="btn btn-danger btn-sm" href="{{ path('mh_store_delete', {'id': product.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        {% else %}
                    {% endif %}
                </div>

            </div>
            <br>
            <hr>
            <br>

        {% endfor %}


    </div>
</div>


{% endblock %}