{% extends "MHStoreBundle::layout.html.twig" %}


{% block bundle_body %}

    <h3> Visualization of a product </h3>

    <hr>

    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12 col-12">
            <img
                    src="{{ asset(product.image.uploadDir ~ '/' ~ product.image.url) }}"
                    alt="{{ product.image.alt }}"  class="img-fluid"
            />
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-12">
            <h4>{{ product.name }}</h4>
            <i>{{ product.description }}</i><br>
            <br>
            {% if product.sold %}
                {% if product.seller.id == app.user.id %}
                    <small class="text-muted">
                        Sold {{ product.soldDate | date}}
                    </small>
                {% else %}
                    <small class="text-muted">
                        Bought {{ product.setupDate | date}}
                    </small>
                {% endif %}
            {% endif %}
        </div>

        <div class="col-sm-6 col-6 col-md-2 col-lg-2">
            Price : {{ product.price }} €
        </div>

        <div class="col-sm-6 col-6 col-md-2 col-lg-2">
            {% if product.seller.id == app.user.id %}
                {% if not product.sold %}
                    <a class="btn  btn-warning" href="{{ path('mh_store_edit', {'id' : product.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                    <a class="btn btn-danger" href="{{ path('mh_store_delete', {'id' : product.id}) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                {% else %}
                    <a class="btn btn-warning btn-sm">sold</a>
                {% endif %}
            {% else %}
                {% if not product.sold %}
                        <a class="btn btn-success" href="{{ path('mh_store_buy', {'id' : product.id}) }}"> order</a>
                {% endif %}
            {% endif %}
        </div>

    </div>


{% endblock %}