
    <div class="row">
        <div class="col-md-4">
            <img
                    src="{{ asset(product.image.uploadDir ~ '/' ~ product.image.id ~ '.' ~ product.image.url) }}"
                    alt="{{ product.image.alt }}"  height="150px"
            />
        </div>
        <div class="col-md-4">
        <h4 style="color: #528eff;">{{ product.name }}</h4>
            <i>{{ product.description }}</i>
        </div>

        <div class="col-md-2">
            Prix : {{ product.price }} €
        </div>
        {% if not product.sold %}
        <div class="col-md-2">
            <a class="btn btn-success" href="{{ path('mh_store_buy', {'id' : product.id}) }}"> acheter</a>
        </div>
        {% else %}
        <div class="col-md-2">
            <small class="text-muted">
            Acheté le {{ product.soldDate | date("m/d/Y à H:m:s")}}
            </small>
        </div>
        {% endif %}

    </div>
