
        <div class="col-md-4 col-lg-4 col-sm-12 col-12">
            <img
                    src="{{ asset(product.image.uploadDir ~ '/' ~ product.image.url) }}"
                    alt="{{ product.image.alt }}" class="img-fluid"
            />
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-12">
        <h4>{{ product.name }}</h4>
            <i>{{ product.description }}</i> <br>
            <br>
            <small class="text-muted">
                Posted on {{ product.setupDate | date("m/d/Y at H:m:s")}}
            </small>
        </div>

        <div class="col-sm-6 col-6 col-md-2 col-lg-2">
            Price : {{ product.price }} €
        </div>
        <div class="col-sm-6 col-6 col-md-2 col-lg-2">
            <a  class="btn btn-primary btn-sm" href="{{ path('mh_store_view', {'id': product.id}) }}"><i class="fa fa-search" aria-hidden="true"></i></a>
            {% if app.user.id == product.seller.id %}
                <a  class="btn btn-warning btn-sm" href="{{ path('mh_store_edit', {'id': product.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i></a>
            {% endif %}
        </div>

